:root{
    --header--height:3rem;
    --font-semi:600;
}
/* color*/
:root{
    --first-color:#4070f4;
    --second-color:#0E2431;
}

:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size:2rem;
}